nav a 
{
  color: red;
}

.green
{
  color: green;
}

ul a
{
  text-decoration: none;
}

.marge
{
  margin-bottom: 20px;
}

article img  {
    margin: 20px 0px 0px 0px;
    }

footer
{
  font-size: 12px;
}
